[Unit]
Description=Cockpitlogin Service

[Service]
ExecStart=/usr/bin/cockpitlogin
ExecStartPost=/usr/sbin/restorecon -R /var/run/cockpitlogin/ 
RuntimeDirectory=cockpitlogin
User=cockpitlogin
Group=nginx
